.dropdown-logement {
  display: flex;
  justify-content: space-between;
  &__button {
    position: relative;
    width: 582px;
    margin-top: 24px;
  }
  &__list {
    width: 582px;
    margin: -5px 0;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
    background-color: #f6f6f6;
  }
  &__content {
    width: 562px;
    list-style-type: none;
    padding: 5px 10px;
    color: $main-color;
    font-weight: $regular;
    font-size: $x-large;
    &__description {
      padding: 30px 10px;
    }
  }
}
