.gallery-list {
  margin-top: 43px;
  padding: 56px 50px;
  background-color: $light-grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 50px;

  justify-items: center;
  border-radius: 25px;
  &__card {
    position: relative;
    width: 340px;
    height: 340px;
    background-image: linear-gradient(#fff 0%, #000 50%);
    color: #fff;
    list-style-type: none;
    border-radius: 10px;
    &__title {
      position: absolute;
      width: 200px;
      height: 52px;
      top: 268px;
      left: 20px;
      font-size: 18px;
      font-weight: $medium;
    }
  }
}
