//Colors

$main-color: #ff6060;
$light-grey: #f6f6f6;

//Font Family

$montserrat: "Montserrat", sans-serif;

//Font Size

$xx-small: xx-small;
$x-small: x-small;
$small: small;
$medium: medium;
$large: large;
$x-large: x-large;
$xx-large: xx-large;

//Font Weight

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400; /* normal */
$medium: 500;
$semi-bold: 600;
$bold: 700; /* bold */
$extra-bold: 800;
$black: 900;
