//Colors

$main-color: #ff6060;
$light-grey: #f6f6f6;

//Font Family

$montserrat: "Montserrat", sans-serif;

//Font Size

$xx-small: 0.625rem;
$x-small: 0.75rem;
$small: 1rem;
$mediumFont: 1.125rem;
$large: 1.25rem;
$x-large: 1.875rem;
$xx-large: 2rem;

//Font Weight

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400; /* normal */
$medium: 500;
$semi-bold: 600;
$bold: 700; /* bold */
$extra-bold: 800;
$black: 900;
