/* normal */
/* bold */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
u {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.main {
  margin: 40px 6.25rem;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media only screen and (max-width: 638px) {
  .main {
    min-width: 100%;
    margin: 40px 1.25rem;
  }
}
.banner {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 21rem;
  max-height: 14rem;
  border-radius: 10px;
  overflow: hidden;
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.banner__title {
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  z-index: 2;
}

@media only screen and (max-width: 375px) {
  .banner {
    max-height: 111px;
  }
  .banner__title {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;
  }
}
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1240px;
  margin: 31px 0;
}
.dropdown__button {
  width: 1023px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.dropdown__button__label {
  margin-left: 18px;
  font-size: 1.875rem;
}
.dropdown__button svg {
  margin-right: 30px;
  color: #fff;
  transition: transform 400ms ease-in-out;
}
.dropdown__button svg.open {
  transform: rotate(180deg);
}
.dropdown__content {
  width: 983px;
  padding: 40px 20px 20px;
  margin: -5px 0;
  color: #ff6060;
  background-color: #f6f6f6;
  font-weight: 400;
  font-size: 1.875rem;
  border-radius: 0 0 10px 10px;
}

.menu {
  margin-bottom: 33px;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin-top: 30px;
}
.description__title {
  display: flex;
  flex-direction: column;
}
.description__title h1 {
  font-size: 36px;
  font-weight: 500;
  color: #ff6060;
}
.description__title p {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}
.description__tags {
  display: flex;
}
.description__tags p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 3px 40px;
  background-color: #ff6060;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px 0 0;
}
.description__host {
  display: flex;
  flex-direction: column;
}
.description__host__profil {
  display: flex;
}
.description__host__profil__name {
  display: flex;
  width: 93px;
  flex-direction: column;
  color: #ff6060;
  font-size: 1.25rem;
}
.description__host__profil__img {
  height: 64px;
  width: 64px;
  object-fit: cover;
  border-radius: 50%;
}
.description__ratings {
  margin-left: -20px;
}

.gallery {
  min-width: 432px;
  margin: 63px auto 0;
  background-color: #f6f6f6;
  padding: 3rem;
  border-radius: 10px;
  min-width: 21rem;
}
.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
  grid-gap: 2.1rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}
.gallery-grid-container {
  position: relative;
}
.gallery-grid-container__img {
  max-width: 100%;
  min-height: 21em;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
  border-radius: 10px;
  min-width: 14rem;
}
.gallery-grid-container__img:hover {
  opacity: 7;
}
.gallery-grid-container__img-layer {
  position: absolute;
  min-width: 14rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  z-index: 1;
}
.gallery-grid-container__title {
  font-size: 1.125rem;
  min-width: 14rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  font-size: 1.125rem;
  color: white;
  z-index: 2;
}

@media only screen and (max-width: 630px) {
  .gallery {
    display: flex;
    justify-content: center;
    min-width: 23rem;
    height: 100%;
  }
  .gallery-grid-container__img {
    width: 100%;
    height: 100%;
  }
}
.slideshow {
  margin-top: 20px;
  height: 415px;
  display: inline-block;
  width: 100%;
  height: 415px;
  overflow: hidden;
}

.image-container img {
  overflow: hidden;
}

.slideshow-container {
  height: inherit;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 1240px;
}
.slideshow-container button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}
.slideshow-container__button-left {
  position: absolute;
  left: 0;
}
.slideshow-container__count {
  position: absolute;
  width: 50px;
  bottom: 30px;
  left: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
}
.slideshow-container__button-right {
  position: absolute;
  right: 0;
}

.footer {
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  align-items: center;
  background-color: #000;
}
.footer__logo {
  margin-top: 66px;
  width: 122px;
  height: 40px;
  color: #fff;
}
.footer__copyright {
  margin-top: 30px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}

@media only screen and (max-width: 630px) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px;
}
.header__logo {
  color: #ff6060;
  width: auto;
  height: clamp(47px, 50%, 68px);
}

.nav {
  width: clamp(200px, 50%, 20rem);
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  min-height: 34px;
  padding: 0;
}
.nav__link {
  color: #ff6060;
  font-size: 1.7rem;
  font-weight: 500;
}
.nav__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .header__logo {
    height: 47px;
  }
  .header .nav {
    max-width: 160px;
  }
  .header .nav__link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 510px) {
  .header {
    margin: 40px 1.25rem;
  }
  .header__logo {
    height: 27px;
  }
  .header .nav {
    max-width: 120px;
  }
  .header .nav__link {
    font-size: 0.75rem;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__code {
  width: 597px;
  height: 313px;
  margin: 170px 0 0;
  color: #ff6060;
  font-size: 288px;
  font-weight: 700;
  line-height: 411px;
  letter-spacing: 0em;
}
.error__txt {
  width: 872px;
  height: 51px;
  margin-top: 66px;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
}
.error__link {
  width: 284px;
  height: 26px;
  margin: 182px 0 50px;
  font-weight: 500;
  font-size: 1.25rem;
  color: #ff6060;
}
.error__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown-logement {
  display: flex;
  justify-content: space-between;
}
.dropdown-logement__button {
  position: relative;
  width: 582px;
  margin-top: 24px;
}
.dropdown-logement__list {
  width: 582px;
  margin: -5px 0;
  padding: 20px 0;
  border-radius: 0 0 10px 10px;
  background-color: #f6f6f6;
}
.dropdown-logement__content {
  width: 562px;
  list-style-type: none;
  padding: 5px 10px;
  color: #ff6060;
  font-weight: 400;
  font-size: 1.875rem;
}
.dropdown-logement__content__description {
  padding: 30px 10px;
}

/*# sourceMappingURL=style.css.map */
