.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  &__title {
    display: flex;
    flex-direction: column;
    & h1 {
      font-size: 36px;
      font-weight: $medium;
      color: $main-color;
    }
    & p {
      font-size: 18px;
      font-weight: $medium;
      color: $main-color;
    }
  }
  &__tags {
    display: flex;

    & p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      padding: 3px 40px;
      background-color: $main-color;
      color: #fff;
      border-radius: 10px;
      margin: 20px 10px 0 0;
    }
  }
  &__host {
    display: flex;
    flex-direction: column;
    &__profil {
      display: flex;
      &__name {
        display: flex;
        width: 93px;
        flex-direction: column;
        color: $main-color;
        font-size: $large;
        // margin-right: 10px;
      }
      &__img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  &__ratings {
    margin-left: -20px;
  }
}

@media only screen and (max-width: 752px) {
  .description {
    flex-direction: column;
    &__title {
      margin-bottom: 24px;
      & h1 {
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
      }
    }
    & p {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
    &__host {
      width: 90%;
      margin-left: 20px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &__profil {
        align-items: center;
        order: 2;
        & p {
          font-size: 12px;
          padding-left: 30px;
        }
        &__img {
          height: 34px;
          width: 34px;
        }
      }
    }
    &__ratings {
      order: 1;
      & svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
