
.description {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin-top: 30px;
  &__title {
    display: flex;
    flex-direction: column;
    & h1 {
      font-family: $montserrat;
      font-size: 36px;
      font-weight: $medium;
      color: $main-color;
    }
    & p {
      font-family: $montserrat;
      font-size: 18px;
      font-weight: $medium;
      color: $main-color;
    }
  }
  &__tags {
    display: flex;

    & p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      padding: 3px 40px;
      background-color: $main-color;
      color: #fff;
      border-radius: 10px;
      margin: 20px 10px 0 0;
    }
  }
  &__host {
    display: flex;
    flex-direction: column;
    &__profil {
      display: flex;
      &__name {
        display: flex;
        width: 93px;
        flex-direction: column;
        color: $main-color;
        font-family: $montserrat;
        font-size: $large;
        // margin-right: 10px;
      }
      &__img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  &__ratings {
    margin-left: -20px;
  }
}
