.menu {
  width: 85%;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 31px 0;

  &__button {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    color: #fff;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 1;

    &__label {
      margin-left: 0.5rem;
      font-size: $x-large;
    }
    & svg {
      margin-right: 15px;
      color: #fff;
      transition: transform 400ms ease-in-out;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    padding: 40px 20px 20px;
    margin: -5px 0;
    color: $main-color;
    background-color: #f6f6f6;
    font-weight: $regular;
    font-size: $x-large;
    border-radius: 0 0 10px 10px;
  }
}

.menu {
  margin-bottom: 33px;
}

.dropdown-logement {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  &__button {
    position: relative;
  }
  &__list {
    margin: -5px 0;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
    background-color: #f6f6f6;
  }
  &__content {
    background-color: #f6f6f6;
    list-style-type: none;
    padding: 0.3rem 0.62rem;
    color: $main-color;
    font-weight: $regular;
    font-size: $x-large;
    &__description {
      padding: 30px 10px;
    }
  }
}

@media only screen and (max-width: 841px) {
  .menu {
    width: 95%;
    margin-bottom: 20px;
    & p {
      border-radius: 0 0 10px 10px;
      margin-top: -5px;
      font-size: 12px;
      padding: 17px 5px 15px;
    }
  }
  .dropdown {
    &__button {
      height: 30px;
      &__label {
        font-size: 13px;
      }
      & svg {
        width: 15px;
        height: 15px;
      }
    }
  }
  .dropdown-logement {
    display: flex;
    flex-direction: column;
    gap: 0px;
    &__button {
      padding-top: 4px;
      min-width: 21rem;
      & svg {
        width: 15px;
        height: 15px;
      }
    }
    &__content {
      font-size: 12px;
      font-weight: 400;
      padding: 0 10px;
    }
  }
}
