.slideshow {
  max-height: 26rem;
  display: inline-block;
  width: 100%;
  min-height: 415px;
  overflow: hidden;
  margin-bottom: 30px;
}
.image-container {
  & img {
    overflow: hidden;
  }
}

.slideshow-container {
  max-height: 26rem;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;

  & button {
    position: absolute;
    border: none;
    margin: 0;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
  }
  &__button-left {
    position: absolute;
    left: 0;
  }
  &__count {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: $mediumFont;
    font-weight: $medium;
  }
  &__button-right {
    position: absolute;
    right: 0;
  }
}

@media only screen and (max-width: 750px) {
  .slideshow {
    margin-top: 0;
    min-width: 335px;
    min-height: 225px;
    &-container {
      margin-top: 0;
      & button svg {
        width: 24px;
      }
      &__count {
        font-size: $x-small;
      }
    }
  }
}
