.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 1240px;
  height: 415px;
  margin-top:20px;
  color: #000;
  background-color: aliceblue;
  font-family: $montserrat;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 25px;
}
