.slideshow {
  margin-top: 20px;
  max-height: 26rem;
  display: inline-block;
  width: 100%;
  min-height: 415px;
  overflow: hidden;
}
.image-container {
  & img {
    overflow: hidden;
  }
}

.slideshow-container {
  max-height: 26rem;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;

  & button {
    position: absolute;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
  }
  &__button-left {
    position: absolute;
    left: 0;
  }
  &__count {
    position: absolute;
    width: 3.125rem;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: $mediumFont;
    font-weight: $medium;
  }
  &__button-right {
    position: absolute;
    right: 0;
  }
}

@media only screen and (max-width: 375px) {
  .slideshow {
    margin-top: 0;
    min-height: 15.6rem;
    &-container {
      margin-top: 0;
    }
  }
}
