.banner {
  display: flex;
  align-items: center;
  width: 1240px;
  height: 68px;
  margin: 40px 0px 63px;
  text-align: center;
}

.header {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  &__logo {
    width: 210px;
    height: 68px;
  }
}
