.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 0;
  &__logo {
    color: $main-color;
    width: auto;
    height: 68px;
  }
}

.nav {
  ul {
    list-style-type: none;
    width: 309px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: $main-color;
    
    $mediumFont: medium;
    font-size: 24px;
    font-weight: $medium;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 375px) {
  .header {
    &__logo {
      height: 47px;
      width: auto;
    }
  }
}
