.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__code {
    width: 597px;
    height: 313px;
    margin: 170px 0 0;
    color: $main-color;
    font-size: 288px;
    font-weight: $bold;
    line-height: 411px;
    letter-spacing: 0em;
  }
  &__txt {
    width: 872px;
    height: 51px;
    margin-top: 66px;
    font-size: 36px;
    font-weight: $medium;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: $main-color;
  }
  &__link {
    width: 284px;
    height: 26px;
    margin: 182px 0 50px;
    font-weight: $medium;
    font-size: $large;
    color: $main-color;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
